{% extends 'padre.html' %}

{% block title %}
    <title>Acerca de Mi</title>      
{% endblock title %}


{% block contenido_que_cambia %}
<style>

    .escritura {
        font-size: 20px;
    }

    
</style>


<p class="escritura"> Mi nombre es Lucas Sebastian Godoy, tengo 30 Años. Trabajo como Personal Civil en la Fuerza Aerea. Es la primera vez que hago un curso de desarrollo web, todo lo anterior que conocia fue por lo visto en la escuela secundaria y por videos de You Tube.</p>

<p class="escritura">Me gusto mucho realizar este curso, he aprendido cosas complejas para mi, y bueno estoy muy contento con eso. La verdad que la atencion de los tutores y como enseño el profesor me dejaron muy conforme, muy profesionales en todo sentido</p>

<p class="escritura">La idea mia respecto a todo lo aprendido es poder lograr Trabajar en esto, se que me falta mucha familiarizacion con muchas cosas y terminos. Es un mundo muy amplio en el que siempre se puede aprender algo nuevo y que la practica es algo fundamental</p>

<p class="escritura">Sin mas que decir, me despido y espero puedan disfrutar esta APP creada por mi. Atte: Lucas Godoy.</p>


    <br>
    <div class="contenido-con-fondo">
        <div class="texto-esquina">LA MEJOR APP DEL FUTBOL ARGENTINO</div>
    </div>      
    <h1>Bienvenidos a la mejor Aplicacion del Futbol Argentino</h1>
{% endblock contenido_que_cambia %}