{% extends 'padre.html' %}

{% block title %}
    <title>Primera Division</title>     
     
{% endblock title %}


{% block contenido_que_cambia %}
    <h1>Pagina en proceso de construccion</h1>
    <div class="imagen-primera">
        <img src="https://media.infocielo.com/p/a06c137bdb77473908040d58cd5b63e8/adjuntos/299/imagenes/001/483/0001483023/887x0/smart/escudos-copa-la-ligapngwebp.png" alt="Descripción de la imagen" style="width: 700px; height: auto; margin-left: 100px; margin-top: 50px; margin-bottom: 50px;">
    </div>
{% endblock contenido_que_cambia %}